
<%- include("partials/header") %>

<div class="container" style="width: 35%; margin:25px auto;height: auto;">
  <h3 style="text-align: center;">Edit <%= book.name %>Book</h3>
  <form action="/book/<%= book._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="edufakenew">Name of Book</label>
      <input type="text" class="form-control" name="name" value="<%= book.name %>" placeholder="Name of Book" required>
    </div>
    <div class="form-group">
      <label for="edufakeURL">URL</label>
      <input type="text" class="form-control" name="imgurl" value="<%= book.imgurl %>" placeholder="URL of Image"
        required>
    </div>
    <div class="form-group">
      <label for="edufakeURL">Des</label>
      <input type="text" class="form-control" name="desc" value="<%= book.desc %>" placeholder="Description" required>
    </div>
    <div class="form-group">
      <label for="edufakeURL">Tag</label>
      <input type="text" class="form-control" name="categories" value="<%= book.tag %>"
        placeholder="Enter the categories">
    </div>
    <div style="text-align: right;">
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
  </form>
</div>

<%- include("partials/footer") %>