
<%- include("partials/header") %>

<div class="container mt-3">
  <div class="row">

    <div class="col-lg-2 mt-3">
      <div class="list-group">
        <h5 class="list-group-item active text-center">Category</h5>

        <% if(!locals.user){ %>
          <% Songma3.forEach(function(cate){ %>
            <a href="/book/categorie/<%= cate.text %>" class="list-group-item list-group-item-action"><%= cate.text %></a>
          <% }); %>
        <% } %>

        <% if(locals.user){ %>
          <% Songma3.forEach(function(cate){ %>
            <a href="/book/categorie/<%= cate.text %>" class="list-group-item list-group-item-action"><%= cate.text %></a>
          <% }); %>

          <% if(locals.user.permission == "admin"){ %>
            <form action="/admin/addlaew" method="POST">
              <input type="text" class="form-control" name="tag" placeholder="Add category">
              <button type="submit" class="btn btn-outline-primary" style="float: right;">Submit</button>
            </form>
          <% } %>
        <% } %>

      </div>
    </div>

    <div class="col-lg-10">
      <div class="row">
        <% if(SongMa.length){ %>
          <%  for(var i = 0;i < SongMa.length;i++) { %>
          <a href="/book/<%=SongMa[i]._id%>">
            <img src='/uploads/<%= SongMa[i].imgurl %>' height="200" width="150" class="img-fluid rounded">
          </a>
        <% }} %>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">

      <li class="page-item"><a class="page-link" href="/book/page/1-<%=limit%>">First</a></li>
      
      <li class="page-item">
        <%if(page!=1) {
          var a=parseInt(page)-1; %>
            <a class="page-link" href="/book/page/<%=a%>-<%=limit%>">Previous</a>
        <% } %>
      </li>

      <li class="page-item">
        <%if(pages!=page) {
          page=parseInt(page)+1; %>
            <a class="page-link" href="/book/page/<%=page%>-<%=limit%>">Next</a>
        <% } %>
      </li>
      
      <li class="page-item"><a class="page-link" href="/book/page/<%=pages%>-<%=limit%>">Last</a></li>
    
    </ul>
  </nav>
</div>

<script>
  $(".sidebar2").ready(function () {
    $("#click-hidden2").click(function () {
      $("#chonlasit2").toggleClass("hidden");
    });
  });
</script>

<%- include("partials/footer") %>