
<%- include("partials/header") %>

<div class="container ">
  <img src="<%= detail.imgurl%>">
  <h1><%= detail.name%></h1>
</div>

<div class="container input-group mb-3">
  <div class="input-group-append">
    <form action="/book/<%= detail._id %>/comments" method="POST">
      <input type="text" class="form-control" name="text" placeholder="Your comment here">
      <button type="submit" class="btn btn-outline-primary" style="float: right;">Submit</button>
    </form>
  </div>
</div>

<% if(currentUser && detail.author.id.equals(currentUser._id)) { %>
<div class="container">
  <div>
    <a class="btn btn-waring" href="/book/<%= detail._id %>/edit">Edit</a>
  </div>
  <form action="/book/<%= detail._id %>?_method=DELETE" method="POST">
    <button class="btn btn-outline-danger">Delete</button>
  </form>
</div>
<% } %>

<div class="container">
  <% detail.comments.forEach(function(comment){ %>
  <p><strong><%= comment.userment.username %></strong> - <%= comment.text %></p>
  <a class="btn btn-waring" href="/book/<%= detail._id %>/comments/<%= comment._id %>/edit">Edit</a>
  <% }) %>
</div>

<%- include("partials/footer") %>