
<%- include("partials/header") %>

<div class="container showcat-section mt-2">
  <div class="row">

    <% SongMa2.forEach(function(im){ %>
    <div class="col-lg-3 col-sm-6 col-6 mt-3">
      <a href="/book/<%=im._id%>">
        <img src="/uploads/<%= im.imgurl %>" height="200" width="150" class="img-fluid rounded">
      </a>
    </div>
    <%}); %>

  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-12 mt-0">
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm justify-content-end">

        <li class="page-item"><a class="page-link" href="/book/categorie/<%= title %>/page/1-<%=limit%>">First</a></li>

        <li class="page-item">
          <%if(page!=1) {
            var a=parseInt(page)-1; %>
          <a class="page-link" href="/book/categorie/<%= title %>/page/<%=a%>-<%=limit%>">Previous</a>
          <% } %>
        </li>

        <li class="page-item">
          <%if(pages!=page) {
            page=parseInt(page)+1; %>
          <a class="page-link" href="/book/categorie/<%= title %>/page/<%=page%>-<%=limit%>">Next</a>
          <% } %>
        </li>

        <li class="page-item"><a class="page-link"
            href="/book/categorie/<%= title %>/page/<%=pages%>-<%=limit%>">Last</a></li>

      </ul>
    </nav>
  </div>
</div>

<%- include("partials/footer") %>