
<%- include("partials/header") %>

<div class="container detail-section mt-4">
  <div class="row">
    <div class="col-lg-3">
      <img src='/uploads/<%= detail.imgurl %>' class="img-fluid rounded" height="250" width="200">

      <% if(currentUser && detail.author.id.equals(currentUser._id) || currentUser.permission == "admin") { %>
      <div class="row mt-3 ml-3 pl-1">
        <div>
          <a class="btn btn-warning mr-3" href="/book/<%= detail._id %>/edit">Edit</a>
        </div>
        <form action="/book/<%= detail._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>

    </div>
    <div class="col-lg-9 pl-4 pt-4">
      <h6 class="mb-3">Title : <%= detail.name %></h6>
      <h6 class="mb-3">Author : <%= detail.writer %></h6>
      <h6 class="mb-3">Category : <%= detail.category %></h6>
      <h6 class="mb-3">Post by : <%= detail.author.username %></h6>
      <h6>Description : <%= detail.desc %></h6>
    </div>
  </div>

  <form action="/book/<%= detail._id %>/comments" method="POST" class="newment-section">
    <textarea class="form-control mb-2" name="text" rows="3"></textarea>
    <button type="submit" class="btn btn-info" style="float: right;">Comment</button>
    <a class="btn btn-primary mr-3" data-toggle="modal" data-target="#bigmodal" style="float: right;">All Comments</a>
  </form>

</div>

<div class="modal fade" id="bigmodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">All Comments</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <% detail.comments.forEach(function(comment){ %>
            <div class="col-6">
              <blockquote class="blockquote">
                <h6 class="mb-0 text-success"><%= comment.text %></h6>
                <footer class="blockquote-footer">
                  <%= comment.userment.username %>
                  <% if(currentUser && comment.userment._id.equals(currentUser._id) || currentUser.permission == "admin") { %>
                  <div class="row pr-3" style="float: right;">
                    <div><a class="btn btn-outline-warning btn-sm"
                      href="/book/<%= detail._id %>/comments/<%= comment._id %>/edit">Edit</a></div>
                    <form action="/book/<%= detail._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-outline-danger btn-sm ml-2">Delete</button>
                    </form>
                  </div>
                  <% } %>
                </footer>
              </blockquote>
            </div>
            <% }) %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer") %>