
<%- include("partials/header") %>

<div class="container mb-0">
    <div class="row mb-0">
        <div class="col-lg-6 profile-section mb-0">
            <div class="card bg-secondary">
                <div class="card-header">
                    <a href="/user/<%= result1._id %>/editimg">
                        <img class="card-img-top" src="/uploads/<%= result1.userimg %>">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Username : <%= result1.username %></p>
                    <p class="card-text">Email : <%= result1.email %></p>
                    <a href="/user/<%= result1._id %>/editinfo" class="btn btn-outline-warning btn-sm"
                        style="float: right;"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Edit</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-4 mb-0">
            <h3 class="text-center">Book Post</h3>
            <div class="row mt-3">
                <% result2.forEach(function(im){ %>
                <div class="col-lg-3 col-sm-6 col-6 mb-3">
                    <a href="/book/<%= im._id %>">
                        <img src="/uploads/<%= im.imgurl %>" height="150" width="100" class="img-fluid rounded">
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>